<div class="modal-header">
    Create an account
</div>
<div class="modal-body">

    <div ng-if="message == 'already_eixsts'" class="alert alert-danger" role="alert">
        That email address is already in the database
    </div>
    <form class="form">
        <input class="form-control" ng-model="name" type="text" name="name" placeholder="Full name" />
        <input class="form-control" ng-model="email" type="text" name="email" placeholder="Email" />
        <input class="form-control" ng-model="password" type="password" name="password" placeholder="Password" />
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="join()">Join</button>
</div>
