<div class="modal-header">
    Login
</div>
<div class="modal-body">

    <div ng-if="message == 'Incorrect'" class="alert alert-danger" role="alert">
        Login failed
    </div>
    <form class="form">
        <input class="form-control" ng-model="username" type="text" name="email" placeholder="Email" />
        <input class="form-control" ng-model="password" type="password" name="password" placeholder="Password" />
    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="login()">Log in</button>
</div>
