<div class="modal-header">
    Edit your profile
</div>
<div class="modal-body">
    <img src="." />
    
    <input name="name" ng-model="name" 
        type="text"
        class="form-control"
        placeholder="User name" 
    />
    <input name="email" ng-model="email" 
        type="text"
        class="form-control"
        placeholder="Email" 
    />

</div>
<div class="model-footer">
    <button ng-click="save()" class="btn btn-success">Save</button>
</div>
