<form class="form facet" action="#">
    <h1 class="form-h1">{{facet.title}}</h1>
    <input ng-repeat="field in fields" name="field.title" ng-if="field.type == String">{{field.value}}</input>
</form>
