<div ng-controller="MagController" class="container">
    <div class="header">Find coffins with ...</div>
    <div ng-repeat="search in searches">
        <div class="mag-search-form">
            <div class="alert alert-{{search.message.type}}">{{search.message.text}}</div>
            <div class="facets">
                <div ng-repeat="facet in search.facets">
                    <select class="form-control" ng-model="facet.type" ng-options="schema.title for schema in schemas">
                        <!--
                        <option ng-repeat="(name, schema) in schemas">{{name}}</option>
                        -->
                    </select>
                    <h1 class="form-h1">{{facet.type.title}}</h1>
                    <form class="form facet" action="#">
                        <div ng-repeat="field in facet.type.fields" ng-switch on="field.type">
                            <!-- <input ng-switch-when="String" -->
                            <input 
                                    class="form-control" 
                                    name="{{field.id}}" placeholder="{{field.title}}" 
                                                           ng-model="facet.values[field.id]"
                           />
                            <!--
                           <select ng-switch-default>
                               <option ng-repeat="value in field.values">{{value.name}}</option>
                           </select>
                            -->
                       </div>
                    </form>
                </div>
            </div>
            <div>
                <!--
                <select class="form-control" ng-model="currentType">
                    <option ng-repeat="(name, schema) in schemas">{{name}}</option>
                </select>
                -->
                <button ng-click="addFacet(search, currentType)" class="btn btn-success">And</button>
            </div>
            <button ng-click="doSearch(search)" class="btn">Search <i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>



    <div ng-repeat="(modelId, model) in models">
        <div class="annotation-list">
            <div class="locatedAnnotations panel panel-default">
                <div class="panel-body">
                    <div ng-repeat="(resId, result) in model.searchResults">
                        <div ng-repeat="annotation in result.annotations">
                            <h4>{{annotation.entity.schema.title}}</h4>
                            <img src="{{annotation.imageData}}" />
                            <table class="table">
                                <tbody>
                                    <tr ng-repeat="(key, value) in annotation.entity.data">
                                        <td ng-if="key !== 'id' && key !== 'versionId'">{{key}}</td>
                                        <td ng-if="key !== 'id' && key !== 'versionId'">{{value}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
