<div class="container">
    <table class="table">
        <thead>
        <th>Name</th>
        <th></th>
        </thead>
        <tbody>
        <tr ng-repeat="project in projects">
            <td>
                <span class="view" ng-if="!project.editing">
                    <a href="#/projects/{{project.id}}">{{project.title}}</a>
                    <button ng-click="edit(project)" ng-if="project.permissions.canEditMetadata" class="btn btn-info glyphicon glyphicon-edit pull-right"> </button>
                </span>
                <span class="editing" ng-if="project.editing">
                    <input type="text" class="form-control" ng-model="project.title" />
                    <button ng-click="save(project)" class="btn btn-success">Save</button>
                    <button ng-click="stopEditing(project)" class="btn btn-cancel">Cancel</button>
                </span>
                <div class="project-alerts" ng-if="project.alerts">
                    <div ng-repeat="alert in project.alerts" class="alert alert-{{alert.type}}">
                        <p>Sorry, you require the {{alert.permission}} permission to edit this project</p>
                    </div>
                </div>
            </td>
            <td>
                <button ng-click="delete(project)" ng-if="project.permissions.canDeleteProject" class="btn btn-danger">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
    <button ng-click="addProject()" class="btn btn-success">Add project ...</button>
</div>

