<div ng-controller="TypeListController" class="container">
    <table class="table">
        <thead>
            <th>Name</th>
            <th>Fields</th>
            <th></th>
        </thead>
        <tbody>
            <tr ng-repeat="dataType in types">
                <td>
                    <a ng-href="#/schema_editor/{{project.id}}/types/{{dataType.id}}">{{dataType.title}}</a>
                </td>
                <td>
                    <span ng-repeat="field in dataType.fields">{{field.title}} </span>
                </td>
                <td>
                    <a ng-click="remove(dataType)" class="btn">
                        <i ng-click="remove(dataType)" class="glyphicon glyphicon-minus"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <button ng-click="add()" class="btn btn-primary">Add new ...</button>
</div>
