<table class="table">
    <thead>
        <tr>
            <th ng-repeat="typeField in field.type.fields">{{typeField.title}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="value in field.values" ng-keyup="keyUp(value, $index, $event)" aec-focusable>
            <td ng-repeat="typeField in field.type.fields">
                <input type="text" ng-model="value[typeField.title]" />
            </td>
        </tr>
    </tbody>
</table>

<button ng-click="close(field)" class="btn btn-success">Close</button>
