/* 
    Created on : Oct 21, 2015, 11:15:13 AM
    Author     : dave
*/

.vocab-editor {

    i.indented {
        padding: 2px;
    }

    .level-0 .indented {
        left: 0px;
        position: relative;
    }

    .level-1 .indented {
        left: 20px;
        position: relative;
    }

    .level-2 .indented {
        left: 40px;
        position: relative;
    }

    .level-3 {
        left: 60px;
        position: relative;
    }

}

aec-vocab-editor, 
aec-vocab-editor-head,
aec-vocab-editor-tbody,
aec-vocab-editor-row,
aec-vocab-editor-cell {
    width: auto;
    height: auto;
    display: block;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: inherit;
    border-spacing: 0;
    border-color: inherit;
    vertical-align: top;
    text-align: left;
    font-weight: inherit;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;    

}

aec-vocab-editor {
    display: table;
    border: 1px solid #ddd;
    border-spacing: 2px;

}

aec-vocab-editor-head {
    display: table-header-group;
}

aec-vocab-editor-tbody {
    display: table-row-group;
}


aec-vocab-editor-row {
    display: table-row;
}

aec-vocab-editor-cell {
    display: table-cell;
}


/*
.table > aec-vocab-editor-row > aec-vocab-editor-cell {
    border: 1px solid #ddd;
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
*/
.table {
  width: 100%;
  max-width: 100%;

    > aec-vocab-editor-row {
      > aec-vocab-editor-cell {
        padding: 5px;
        line-height: 2px;
        vertical-align: top;
        border-top: 1px solid black;
      }
    }


  .table {
    background-color: white;
  }
}