<div class="group container">

    <div class="row">

        <div ng-if="!group.editing">
            <div class="row">
                <div class="col-sm-8">
                    <h2>{{group.name}}</h2>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-default" ng-click="edit(group)" 
                        aria-label="Edit {{group.name}}"
                    >
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                <a href="{{group.homepage}}">{{group.homepage}}</a>
                </div>
            </div>

        </div>
        
        <!--
        <div ng-messages="group.message" role="alert">
            <div ng-message="saved">{{group.name}} saved</div>
            <div ng-message="error">Error saving {{group.name}}</div>
        </div>
        -->
        <div ng-if="group.editing">
            <h2><input type="text" class="form-control" placeholder="Group name" ng-model="group.name" /></h2>
            <input type="text" class="form-control" placeholder="Homepage URL" ng-model="group.homepage"/>

            <button class="btn btn-default" ng-click="cancelEditing(group)">Cancel</button>
            <button class="btn btn-success" ng-click="save(group)">Save</button>
        </div>

        <div ng-if="membership == 'NON MEMBER'">
            <button ng-click="requestMembership(group)"
                    class="btn btn-success"
                >Request membership</button>    
        </div>
        <div ng-if="membership == 'REQUESTED'">
            <button ng-click="requestMembership(group)"
                    class="btn btn-default"
                    disabled="disabled"
                >Membership Requested</button>    
        </div>
        <div ng-if="membership == 'MEMBER'">
            <button ng-click="requestMembership(group)"
                    class="btn btn-default"
                    disabled="disabled"
                >Member</button>    
            
        </div>
    </div>

    <div class="row">
        <h4>Users</h4>

        <div class="row">
            <div class="col-sm-6 col-md-4" ng-repeat="user in group.users">
                <div class="thumbnail">
                    <!--
                    <img src="" alt="..." width="150" height="100" />
                    -->
                    <div class="caption">
                        <h4><a href="/users/{{user.id}}">{{user.name}}</a></h4>
                        <button class="btn btn-danger" ng-click="removeUserFromGroup(user, group)">
                            <i class="glyphicon glyphicon-remove"></i>Remove
                        </button>
                    </div>
                    <!--
                    <div ng-message="added">{{user.name}} added to group</div>
                    -->
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <i class="glyphicon glyphicon-plus" alt="" width="150" height="100" ></i>
                    <div class="caption">
                        <h4>
                            <a href="javascript:void(0)" ng-click="showUserPaneForGroup(group)">
                                Add a new user
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div ng-repeat="user in usersNotInGroup">
            <div class="thumbnail">
                <img src="" alt="..." width="150" height="100" />
                <div class="caption">
                    <h4><a href="/users/{{user.id}}">{{user.name}}</a></h4>
                    <button class="btn btn-danger" ng-click="addUserToGroup(user, group)">
                        <i class="glyphicon glyphicon-remove"></i>Remove
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h4>Endorsed Projects</h4>
        <div ng-repeat="project in endorsedProjects" class="col-sm-6 col-md-4 thumbnail">
            <a href="#/projects/{{project.id}}">{{project.title}}</a>
                <i 
                   ng-click="removeEndorsement(project, group)"
                   class="glyphicon glyphicon-remove" ng-click="removeEndorsement(project, group)"> </i>
            </a>
        </div>
    </div>

    <div class="row">
        <h4>Endorsed Annotations and Models</h4>
        <div>
            <div ng-repeat="item in endorsedOtherItems" class="col-sm-6 col-md-4 thumbnail">
                <div ng-if="item.entity">
                    <div class="thumbnail">
                        <img src="{{item.imageData}}" width="100%" height="100%" />
                    </div>
                    <h5>{{item.entity.schema.title}} on {{item.model.title}}</h5>
                    <table class="table">
                        <tbody>
                            <tr ng-repeat="(key, value) in item.entity.data" ng-if="key != 'id'">
                                <td>{{key}}</td>
                                <td>{{value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="!item.entity">
                    <h5>{{item.model.title}}</h5>
                    <img src="{{item.model.previewImageData}}" />
                </div>
            </div>
            <!--
            <a href="javascript:void(0)" ng-click="showProjectAddDialog()">
                Add a featured project
            </a>
            -->
        </div>
    </div>

    <h4 ng-if="user && group.userRequests.length > 0">Requests to join {{group.name}}
    </h4>

    <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="user in group.userRequests">
            <div class="thumbnail">
                <img src="" alt="..." width="150" height="100" />
                <div class="caption">
                    <h4><a href="/users/{{user.id}}">{{user.name}}</a></h4>
                    <button ng-click="approveUserMembershipRequest(user, group)"
                            class="btn btn-success"
                            >
                            Approve
                    </button>
                    <button ng-click="denyUserMembershipRequest(user, group)"
                            class="btn btn-danger"
                            >
                            Deny
                    </button>
                </div>
                <!--
                <div ng-message="added">{{user.name}} added to group</div>
                -->
            </div>
        </div>
    </div>

</div>
