<h1>Groups</h1>

<button id="create-button" 
        class="btn btn-success"
        ng-click="addGroup()"
    ><i class="glyphicon glyphicon-plus"></i>Add group
</button>


<ul class="list-group">
<li class="list-group-item" ng-repeat="group in groups" class="group">
    <div ng-if="!group.editing">
        <h2><a href="#/groups/{{group.id}}">{{group.name}}</a></h2>
        <a href="{{group.homepage}}">{{group.homepage}}</a>

        <button class="btn btn-default" ng-click="edit(group)" 
            aria-label="Edit {{group.name}}"
        >
            <i class="glyphicon glyphicon-edit"></i>Edit
        </button>
    </div>
    
    <!--
    <div ng-messages="group.message" role="alert">
        <div ng-message="saved">{{group.name}} saved</div>
        <div ng-message="error">Error saving {{group.name}}</div>
    </div>
    -->
    <div ng-if="group.editing">
        <h2><input type="text" class="form-control" placeholder="Group name" ng-model="group.name" /></h2>
        <input type="text" class="form-control" placeholder="Homepage URL" ng-model="group.homepage"/>

        <button class="btn btn-default" ng-click="cancelEditing(group)">Cancel</button>
        <button class="btn btn-success" ng-click="save(group)">Save</button>
    </div>

    <h4>Users</h4>

    <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="user in group.users">
            <div class="thumbnail">
                <img src="" alt="..." width="150" height="100" />
                <div class="caption">
                    <h4><a href="/users/{{user.id}}">{{user.name}}</a></h4>
                    <button class="btn btn-danger" ng-click="removeUserFromGroup(user, group)">
                        <i class="glyphicon glyphicon-remove"></i>Remove
                    </button>
                </div>
                <!--
                <div ng-message="added">{{user.name}} added to group</div>
                -->
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <i class="glyphicon glyphicon-plus" alt="" width="150" height="100" ></i>
                <div class="caption">
                    <h4>
                        <a href="javascript:void(0)" ng-click="showUserPaneForGroup(group)">
                            Add a new user
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

</li>
<ul>
