<div class="modal-header">
    Users
</div>
<div class="modal-body">
    <div class="col-sm-6 col-md-4" ng-repeat="user in users">
      <div class="thumbnail">
          <!--
          <img src="..." alt="...">
          -->
            <div class="caption">
                <h3>{{user.name}}</h3>
                <p><button
                    ng-click="addUser(user)"
                    class="btn btn-primary"
                    >Add to group</button>
            </div>
      </div>
    </div>
</div>
<div class="modal-footer">
</div>
