<div class="container">
    <div class="row">
        <h1>Bulk {{schema.title}} Loader</h1>
        <div>
            <div>
                <div ngf-drop class="drop-box" ngf-drag-over-class="'dragover'" 
                    ng-model="spreadsheetFile" 
                    style="border: 3px dashed gray;"
                    >
                    <span ng-if="!spreadsheetFile">
                      Drop your spreadsheet here
                    </span>
                </div>
                <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                <div class="alert alert-ranger" ng-if="spreadsheetFile.status == 'Error'">There was an error uploading the file</div> 
                <div class="alert alert-success" ng-if="spreadsheetFile.status == 'Saved'">Upload complete</div>
            </div>

            <div ng-if="spreadsheetFile">
                <h4>{{spreadsheetFile.name}}</h4>
                <button ng-click="parseFile(spreadsheetFile)" class="btn btn-info">Scan</button>
                <button ng-click="spreadsheetFile = null" class="btn btn-info">Clear and upload another spreadsheet</button>


                <table class="table">
                    <thead>
                        <tr>
                            <th ng-repeat="columnHeader in columnHeaders">
                                {{columnHeader}}
                            </th>
                            <th>Saved</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="dataItem in dataItems">
                            <td ng-repeat="columnHeader in columnHeaders">
                                {{dataItem[columnHeader]}}
                            </td>
                            <td><div ng-if="dataItem.Saved">Saved</div></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <button ng-click="commit()" ng-if="dataItems.length > 0" class="btn btn-success">Commit changes</button>

        </div>
    </div>
</div>
