<div class="annotation-list-window panel panel-default"
     data-drag="true" jqyoui-draggable
     on-close="closeWindow(annotationWindow)"
    >
    <div class="panel-heading">
        {{title}}
        <button ng-click="cloneWindow()" class="btn btn-default">
            <i class="glyphicon glyphicon-copy"></i>
        </button>
        <button ng-click="close()" ng-if="closeable" class="btn btn-default">
            <i class="glyphicon glyphicon-remove"></i>
        </button>
        <a href="#/projects/{{projectId}}"a class="btn btn-default"><i class="glyphicon glyphicon-backward"></i></a>
    </div>
    <div class="panel-body">
        <div class="filters">
            <div class="dropdown btn-group" uib-dropdown>
                <button type="button" class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"
                        uib-dropdown-toggle
                    >
                    <span ng-if="filters.byGroups.length == 0">
                        Groups ...
                    </span>
                    <span ng-if="filters.byGroups.length == 1">
                        <span ng-if="filters.byGroups[0].name.length > 30">
                            {{filters.byGroups[0].name.substring(0,30)}} ...
                        </span>
                        <span ng-if="filters.byGroups[0].name.length <= 30">
                            {{filters.byGroups[0].name}}
                        </span>
                    </span>
                    <span ng-if="filters.byGroups.length > 1">
                        {{filters.byGroups.length}} group(s) ...
                    </span>
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                    <li ng-repeat="group in allGroups">
                        <span ng-if="!group.selected">
                            <input type="checkbox" 
                                   ng-click="addGroupFilter(group)"
                               />
                            <span ng-if="group.name.length > 30">
                                {{group.name.substring(0,30)}} ...
                            </span>
                            <span ng-if="group.name.length <= 30">
                                {{group.name}}
                            </span>
                        </span>
                        <span ng-if="group.selected">
                            <input type="checkbox" 
                                   ng-click="removeGroupFilter(group)"
                                   checked="checked"
                               />
                            <span ng-if="group.name.length > 30">
                                {{group.name.substring(0,30)}} ...
                            </span>
                            <span ng-if="group.name.length <= 30">
                                {{group.name}}
                            </span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <div ng-repeat="annotation in windowAnnotations">

            <aec-annotation-view ng-if="!annotation.editing" annotation="annotation"
                                 on-show="showAnnotation(annotation)"
                                 on-hide="hideAnnotation(annotation)"
                                 edit-mode="editMode"
                                 on-remove="windowAnnotations.splice($index, 1)"
            ></aec-annotation-view>
            <aec-annotation-editor ng-if="annotation.editing" annotation="annotation"
                                   event-proxy="eventProxy"
                                   on-show="showAnnotation(annotation)"
                                   on-hide="hideAnnotation(annotation)"
                                   set-edit-mode="setEditMode"
                                   on-remove="windowAnnotations.splice($index, 1)"
            ></aec-annotation-editor>
        </div>

    </div>
    <div class="panel-footer">
        <div ng-if="!editMode" class="btn-group" uib-dropdown is-open="status.isopen">
            <button type="button" class="btn btn-primary" uib-dropdown-toggle on-toggle="toggled(open)">
                Add annotation
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li ng-repeat="schema in schemas" role="menuitem">
                    <a href ng-click="createAnnotation(schema)">{{schema.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
