<div>
    <div>

        <div ng-repeat="alert in alerts"
             uib-alert ng-class="(alert.type || 'warning')"
             dismiss-on-timeout="3000"
        >
            {{alert.message}}
        </div>
    </div>
    <div>

        <i ng-if="!annotation.selected" ng-click="onShow()"
           class="glyphicon glyphicon-unchecked"
        ></i>
        <i ng-if="annotation.selected" ng-click="onHide()"
           class="glyphicon glyphicon-check"
        ></i>

        {{annotation.entity.schema.title}}
        <span ng-repeat="approval in annotation.approvedBy">
            <i data-toggle="tooltip"
               ng-click="disapproveAnnotation(approval.id, approval.group, $index)"
               title="{{approval.group.name}}"
               class="glyphicon glyphicon-star approval-star"
            ></i>
        </span>
        <span class="approval btn-group dropdown" uib-dropdown ng-if="annotation.groupsThatHaveNotApprovedThis.length > 0">
            <span type="button" class="dropdown-toggle"
                    uib-dropdown-toggle
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
            >
                <span>
                  <i class="glyphicon glyphicon-star"></i>
                </span>
            </span>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li ng-repeat="group in annotation.groupsThatHaveNotApprovedThis">
                    <a ng-click="approveBy(group)">{{group.name}}</a>
                </li>
            </ul>
        </span>
        <span>
            <a ng-click="edit(annotation)" ng-if="!annotation.editing">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a ng-click="delete(annotation)" ng-if="!annotation.editing">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </span>
    </div>
    <img class="image-preview" src="{{annotation.imageData}}" width="80" height="60" />
    <table class="table">
        <tbody>
        <tr ng-repeat="field in annotation.entity.schema.fields">
            <style type="text/css">
                {{field.displayStyle}}
            </style>
            <td>{{field.title}}</td>
            <td class="field-{{field.id}}">{{field.value}}</td>
        </tr>
        </tbody>
    </table>
</div>
