<div>
    <div class="alerts">
        <div ng-repeat="alert in alerts" class="alert alert-{{alert.type}}">
            {{alert.message}}
        </div>
    </div>
    <uib-tabset>
        <uib-tab index="0" heading="{{annotation.entity.schema.title}}">
            <div ng-repeat="field in annotation.entity.schema.fields">
                <style type="text/css">
                    {{field.inputStyle}}
                </style>
                <label class="control-label text-capitalize">{{field.title}}
                    <input type="text" ng-if="field.inputElement == 'input' || ! field.inputElement" ng-model="annotation.entity.data[field.title].value" class="form-control field-{{field.id}}" style="{{field.inputStyle}}" />
                <textarea ng-if="field.inputElement == 'textarea'" ng-model="annotation.entity.data[field.title].value" 
                          rows="5"
                          class="form-control field-{{field.id}}" style="{{field.inputStyle}}"
                    >
                {{annotation.entity.data[field.title].value}}
                </textarea>
                <select ng-if="field.controlledVocabulary()"
                        ng-value="data[field.name]"
                        class="form-control"
                        >
                    <option ng-repeat="value in field.controlledVocabulary()"
                            value="{{value}}"
                        >
                        {{value}}
                    </option>
                </select>
                </label>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="Sharing">
            <aec-sharing-pane content-type="'Annotation'" item="annotation"></aec-sharing-pane>
        </uib-tab>

    </uib-tabset>
    <canvas class="preview-image" width="80" height="60"></canvas>


    <div class="controls btn-group">
        <button ng-click="selectTool('draw')" class="btn btn-info {{controls.draw.status}}">
            <i class="glyphicon glyphicon-plus"></i>
        </button>
        <button ng-click="selectTool('move')" class="btn btn-info {{controls.move.status}}">
            <i class="glyphicon glyphicon-move"></i>
        </button>
        <button ng-click="selectTool('erase')" class="btn btn-info {{controls.erase.status}}">
            <i class="glyphicon glyphicon-erase"></i>
        </button>
    </div>

    <div class="controls">
        <button class="btn btn-success" ng-click="save()">Save</button>
        <button class="btn btn-danger" ng-click="delete()">Delete</button>
        <button class="btn btn-danger" ng-click="cancelEditing()">Cancel</button>
        <button class="btn btn-info" ng-click="setPreviewImage()">
            <i class="glyphicon glyphicon-camera"></i>
        </button>
    </div>

</div>

