<div class="shell">
        <aec-scene set-contouring-function="bus.setContouringFunction" 
                   set-scene="bus.setScene"
                   get-geometry="bus.getGeometry" event-proxy="eventProxy" 
                                                  class="container"
                   model-data="model"> 
        </aec-scene>

    <aec-annotation-list-window 
         class="annotation-list-window"
         ng-repeat="(id, window) in windows"
         closeable="window.closeable"
         editable="window.editable"
         window-id="id"
         windows="windows"
         annotations="annotations"
         project-id="window.projectId"
         artifact-id="window.artifactId"
         title="window.title"
         event-proxy="eventProxy"
         add-annotation="bus.add"
         remove-annotation="bus.remove"
         annotation-filter="window.annotationFilter"
         on-close="closeWindow(id, $index)"
    >
    </aec-annotation-list-window>

</div>
