.annotation-window {
    position: absolute;
    background: white;
    border: 1px solid black;
    z-index: 9999;
    overflow: resize;
    width: 400px;
}


.annotation-list {
    overflow: scroll;
}

@font-face {
    font-family: "Trlit_SG";
    src: url("/images/fonts/cgt.ttf");
}

.transliteration {
    font-family: "Trlit_SG";
}

.scene-container {
    width: 100%;
    height: 100%;
}


.annotation-list-window {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 300px;
    z-index:999;
}

.approval-star {
    color: gold;
    display: inline-block;
}

.save-snapshot-button {
    cursor: pointer;
}

.visual-editor {
    width: 100%;
    height: 100%;
}
