<div>

    <p>Share this {{contentType}} with ... </p>

    <label>
        <input type="radio" name="sharingScope" ng-model="sharingScope" value="nobody" />
        Nobody else
    </label>

    <label>
        <input type="radio" name="sharingScope" ng-model="sharingScope" value="users" />
        Just these users
    </label>

    <div ng-if="sharingScope === 'users'">
        <!-- TODO: Make list of users -->
        <span ng-repeat="user in users">
            <input type="checkbox" value="user.id" ng-selected="user in item.sharing.users" />
            <label>{{user.name}}</label>
        </span>
    </div>

    <label>
        <input type="radio" name="sharingScope" ng-model="sharingScope" value="groups" />
        Just these groups
    </label>

    <div ng-if="sharingScope === 'groups'">
        <!-- TODO: Make list of groups -->
    </div>


</div>
