<div class="modal-header">
    <h3 class="modal-title">Select Artifacts</h3>
</div>
<div class="modal-body">
    <div class="row">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                <button ng-click="prevPage()" class="btn btn-default" ng-if="pageNo > 1">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                </button>
                </li>
                <li>
                <button ng-click="nextPage()" class="btn btn-default" ng-if="artifacts.length < $scope.rpp">
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </button>
                </li>
            </ul>
        </nav>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="artifact in artifacts"
                                       ng-if="artifacts.length > 0"
            >
            <div class="thumbnail" >
                <div class="caption">
                    <h4>{{artifact.title}}</h4>
                </div>
                <span class="owner-name">
                    Created by {{artifact.owner.name}}
                </span>
                <button class="btn btn-info" ng-click="addArtifact(artifact)"><i class="glyphicon glyphicon-plus"></i></button>
            </div>
        </div>
    </div>
    <div ng-if="artifacts.length === 0">
        <h3>Sorry, no artifacts found</h3>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="$close()">Close</button>
</div>
