.project-edit {
    
    .title-field {
        font-size: 30px;
    }

    .model-display {
        display: block;
    }

    .drop-box {
        background: #F8F8F8;
        border: 5px dashed #DDD;
        width: 200px;
        height: 65px;
        text-align: center;
        padding-top: 25px;
        margin: 10px;
    }

    .dragover {
        border: 5px dashed blue;
    }
}
