<div class="project-edit container">
    <h1>
        <!--
            <input type="text" ng-model="project.title" placeholder="Project Title" class="form-control" />
        -->
        {{project.title}}
    <span ng-repeat="approval in project.endorsements">
        <i 
            data-toggle="tooltip"
            ng-click="disapproveProject(approval, approval.group)"
            title="{{approval.group.name}}"
            class="glyphicon glyphicon-star approval-star"
        ></i>
    <!-- TODO: Implement adding your own approval -->
    </span>
    <span class="approval btn-group" ng-if="project.groupsThatHaveNotApprovedThis.length > 0">
        <button type="button" class="btn btn-default dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              ng-if="user"
              >
          Approve
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" ng-if="user">
            <li ng-repeat="group in project.groupsThatHaveNotApprovedThis">
                <a ng-click="approveProjectBy(project, group)">{{group.name}}</a>
            </li>
        </ul>
    </span>
    </h1>

    <div class="artifacts panel">
        <h2>Artifacts</h2>
        <div ng-repeat="artifact in project.artifacts" class="well">
            <div class="row">
                <div ng-if="artifact.editing">
                    <div class="col-md-6">
                        <h3><input ng-model="artifact.title" placeholder="Artifact Title" class="form-control" /></h3>
                        Format:
                        <select ng-model="artifact.format">
                            <option value="collada">Collada (DAE)</option>
                            <option value="obj">OBJ</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button ng-click="saveArtifact(project, artifact)" class="btn btn-success">Save</button>
                        <button ng-click="artifact.editing = false" class="btn btn-info">Cancel</button>
                    </div>
                </div>
                <div ng-if="!artifact.editing">
                    <div class="col-md-6">
                        <h3>{{artifact.title}}</h3>
                    </div>
                    <div class="col-md-2">
                        <button ng-click="artifact.editing = true" class="btn glyphicon glyphicon-edit" ng-if="user"></button>
                    </div>
                </div>
                <div ng-if="artifact.status == 'Success'" class="alert alert-success">Saving succeeded</div>
                <div ng-if="artifact.status == 'Error'" class="alert alert-danger">Saving failed</div>
                <div class="col-md-2">
                    <button ng-click="deleteArtifact(artifact, project)" class="btn btn-danger" ng-if="user">Delete</button>
                </div>
            </div>
            <div class="row">
                <div ng-repeat="model in artifact.models" class="col-sm-6 col-md-4 model-display">
                    <div ng-if="!model.needsUpload">
                        <img width="200" height="150" class="" src="{{model.previewImage}}" />
                        <button ng-click="deleteModel(artifact, model)" class="btn btn-danger" ng-if="user">
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
                        <div>
                            <!--
                                <h3><input type="text" ng-model="model.title" placeholder="Model title" /></h3>
                            -->
                            <h4>{{model.title}}</h4>
                            <label ng-if="bulkEditMode">Include?
                                <input type="checkbox" ng-model="model.checked">
                            </label>
                        </div>
                        <div ng-repeat="file in model.files">
                            <span class="label label-primary">{{file.name.filename}}</span>
                        </div>
                        <a href="#/projects/{{project.id}}/artifacts/{{artifact.id}}/editor/{{model.id}}" ng-if="user">Annotate</a>
                        <a href="#/projects/{{project.id}}/artifacts/{{artifact.id}}/editor/{{model.id}}" ng-if="!user">View</a>
                    </div>

                    <div ng-if="model.needsUpload && user">
                        <div ngf-drop class="drop-box" ngf-drag-over-class="'dragover'" 
                            ng-model="model.files" multiple="multiple"
                            >
                          Drop all your model files here
                        </div>
                        <div ng-repeat="file in model.files">
                            <h4>{{file.name}}</h4>
                        </div>
                        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                        <input ng-model="model.title" placeholder="Model title"/>
                        <select ng-model="model.format">
                            <option value="collada">Collada (.dae)</option>
                            <option value="obj">OBJ</option>
                        </select>
                        <div class="alert alert-ranger" ng-if="model.status == 'Error'">There was an error uploading the file</div> 
                        <div class="alert alert-success" ng-if="model.status == 'Saved'">Upload complete</div>

                        <button ng-click="uploadFile(project, artifact, model)" class="btn btn-info">Upload</button>
                    </div>
                </div>
            </div>
        </div>
        <button ng-click="addArtifact(project)" class="btn btn-info" ng-if="user">Add Artifact</button>
        <button ng-click="showListOfArtifacts(project)" class="btn btn-info" ng-if="user">Add an artifact from another project ...</button>
    </div>

    <div class="schemas panel" ng-controller="ProjectSchemaListController">
        <h2>Schemas</h2>

        <div class="alert alert-danger" ng-if="$scope.schemaError">{{$scope.schemaError}}</div>
        <div class="alert alert-info" ng-if="$scope.schemaMessage">{{$scope.schemaMessage}}</div>
        <table class="table table-striped" ng-if="project.schemas.length > 0">
            <thead>
                <th>Name</th>
                <th>Fields</th>
                <th></th>
            </thead>
            <tbody>
                <tr ng-repeat="schema in project.schemas">
                    <td>
                        <a ng-if="user" ng-click="loadSchema(schema)">{{schema.title}}</a>
                        <span ng-if="!user">{{schema.title}}</span>
                    </td>
                    <td>
                        <span class="field" ng-repeat="field in schema.fields">{{field.title}} - </span>
                    </td>
                    <td>
                        <button ng-click="toggleBulkEditMode(schema, true)" class="btn btn-info" ng-if="user && !bulkEditMode">Bulk Edit</button>
                        <a href="#/projects/{{project.id}}/import/{{schema.title}}/{{schema.id}}">Bulk import</a>
                        <button ng-click="removeSchema(schema)" class="btn btn-danger" ng-if="user">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-if="project.schemas.length == 0 && user" class="alert alert-info">
            No schemas in this project yet. Add the first.
        </div>
        <button ng-click="addSchema(project)" class="btn btn-info" ng-if="user">Add</button>
    </div>

</div>
<div ng-if="bulkEditMode" class="container col-sm-12 col-lg-12" style="position: fixed; bottom: 0px; background-color: #fff; border-top: 2px gray solid;">
    <div class="row">
        <button ng-click="downloadSpreadsheet()" class="btn btn-success">Download spreadsheet</button>
        <button ng-click="toggleBulkEditMode(null, false)" class="btn btn-danger">Cancel bulk edit</button>
    </div>
</div>
    
