<div ng-model="type" class="container">

    <div class="row">
        <div class="form-horizontal">

        <h1><input name="title" ng-model="type.title" placeholder="Name" /></h1>

        <p>Applies to:</p>

        <div class="btn-group">
            <!--
            <label class="btn btn-primary" ng-model="type.appliesTo" value="'whole'" btn-radio="'whole'">Whole Model</label>
            <label class="btn btn-primary" ng-model="type.appliesTo" value="'annotation'" btn-radio="'annotation'">Single Annotation</label>
            <label class="btn btn-primary" ng-model="type.appliesTo" btn-radio="'either'">Either</label>
            -->
            <label class="form-control">
                <input type="radio" ng-model="type.appliesTo" value="whole"></input>
                Whole Model
            </label>
            <label class="form-control">
                <input type="radio" ng-model="type.appliesTo" value="annotation"></input>
                Single Annotation
            </label>
            <label class="form-control">
                <input type="radio" ng-model="type.appliesTo" value="either"></input>
                Either
            </label>
        </div>

        <h2>Fields</h2>
        <table class="table">
            <thead>
                <th>Name</th>
                <th>Type</th>
                <th>Input styling</th>
                <th>Display styling</th>
                <th></th>
            </thead>
            <tbody>

                <tr ng-repeat="field in type.fields" class="form-horizontal">
                    <td>
                        <input type="text" ng-model="field.title" required="true" value="{{field.title}}" placeholder="Name" class='form-control' />
                    </td>
                    <td>
                        <select ng-model="field.type" required="true" class="form-control"
                            ng-options="dataType.title for dataType in types track by dataType.id"
                        >
                        </select>
                    </td>
                    <td>
                        <select ng-model="field.inputElement" class="form-control"
                                ng-options="el.title for el in [{title: 'Single-line text', id: 'input'},
                                                            {title: 'Multi-line text box', id: 'textarea'}
                                ] track by el.id"
                          >
                        </select>
                        <textarea ng-model="field.inputStyle" placeholder="Additional CSS rules"
                                  class="form-control"
                            >
                            {{field.inputStyle}}
                        </textarea>
                    </td>
                    <td>
                        <textarea ng-model="field.displayStyle" placeholder="Additional CSS rules"
                                  class="form-control"
                            >
                            {{field.displayStyle}}
                        </textarea>
                    </td>
                    <td>
                        <!--
                        <button name="controlled" type="checkbox" class="btn btn-success" ng-model="field.isControlled"
                            btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0"
                        >
                            <span ng-if="field.isControlled">Has controlled vocabulary</span>
                            <span ng-if="!field.isControlled">Doesn't have controlled vocabulary</span>
                        </button>
                        <button ng-click="launchVocabEditor(field)" class="btn btn-primary" ng-if="field.isControlled">Edit Vocabulary</button>
                        -->
                        <button ng-click="delete(type, field)" class="btn btn-danger">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>


        <button ng-click="addField(type)" class="btn btn-primary">Add field</button>
        <button ng-click="save(type)" class="btn btn-success">Save</button>
    </div>


    <button name="controlled" type="checkbox" ng-model="type.controlled"
            class="btn btn-success"
            btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0"
        >
        <span ng-if="type.controlled">Has controlled vocabulary</span>
        <span ng-if="!type.controlled">Doesn't have controlled vocabulary</span>
    </button>
    <div ng-if="type.controlled">
        <button name="hierarchical" type="checkbox" ng-model="type.hierarchical"
                class="btn btn-success"
                btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0"
                >
            <span ng-if="type.hierarchical">Flat</span>
            <span ng-if="!type.hierarchical">Hierarchical</span>
        </button>

        <a href="#" ng-click="editCV()">Edit Controlled Vocabulary</a>

        <div>
            <h3>Additional fields for each instance?</h3>
            <button ng-if="!subType" ng-click="addExtraFields()">Add</button>
            <div ng-if="subType">
                <table class="table" ng-if="subType">
                    <thead>
                        <th>Name</th>
                        <th>Type</th>
                        <th></th>
                    </thead>
                    <tbody>

                        <tr ng-repeat="field in subType.fields" class="form-horizontal">
                            <td>
                                <input type="text" ng-model="field.name" value="{{field.name}}" placeholder="Name" class='form-control' />
                            </td>
                            <td>
                                <select ng-model="field.type" required="true" class='form-control'>
                                    <option>String</option>
                                    <option>Number</option>
                                    <option>Controlled Vocabulary</option>
                                    <option ng-repeat="(key, type) in types">{{type.name}}</option>
                                </select>
                            </td>
                            <td>
                                <button ng-click="launchVocabEditor(field)" class="btn btn-primary">Vocabulary</button>
                                <button ng-click="delete(subType, field)" class="btn btn-danger">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button ng-click="addField(subType)" class="btn btn-primary">Add field</button>
                <button ng-click="save(subType)" class="btn btn-success">Save</button>
            </div>
        </div>

    </div>

    <div class="row">
        <h1>Preview</h1>

        <div class="col-sm-6">
            <h2>Edit</h2>

            <div ng-repeat="field in type.fields">
                <style type="text/css">
                    {{field.inputStyle}}
                </style>
                <label class="control-label text-capitalize">{{field.title}}
                    <input type="text" ng-if="field.inputElement == 'input' || ! field.inputElement" value="This is a test"
                           class="form-control field-{{field.id}}" style="{{field.inputStyle}}"
                           disabled
                    />
                    <textarea ng-if="field.inputElement == 'textarea'" ng-model="annotation.entity.data[field.title].value"
                              rows="5"
                              class="form-control field-{{field.id}}" style="{{field.inputStyle}}"
                              disabled
                    >
                        This is a test
            </textarea>
                    <select ng-if="field.controlledVocabulary()"
                            ng-value="data[field.name]"
                            class="form-control"
                            disabled
                    >
                        <option ng-repeat="value in field.controlledVocabulary()"
                                value="{{value}}"
                        >
                            {{value}}
                        </option>
                    </select>
                </label>
            </div>

        </div>
        <div class="col-sm-6">
            <h2>View</h2>

            <table class="table">
                <tbody>
                <tr ng-repeat="field in type.fields">
                    <style type="text/css">
                        {{field.displayStyle}}
                    </style>
                    <td>{{field.title}}</td>
                    <td class="field-{{field.id}}">This is a test</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
</div>
