@()

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Immersive Humanities</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="@routes.Assets.at("styles/main.css")" />
    </head>
    <body ng-app="gruntFrontApp">
            <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

            <!-- Add your site or application content here -->
        <div class="header">
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header">

                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <!--
                        <a class="navbar-brand" href="#/">Immersive Humanities</a>
                        -->
                    </div>

                    <div class="collapse navbar-collapse" id="js-navbar-collapse">

                        <ul class="nav navbar-nav">
                            <!--
                            <li ng-controller="gruntFrontApp.authentication.AuthenticationController">
                                <a ng-if="user" href="javascript:void(0)" ng-click="showProfileEditor(user)">{{user.user.name}}</a>
                                <a ng-if="!user" ng-click="showLoginWindow()" href="javascript:void(0)">Login</a>
                                <a ng-if="!user" ng-click="showJoinWindow()" href="javascript:void(0)">Join</a>
                            </li>
                            -->
                            <li ng-controller="gruntFrontApp.authentication.AuthenticationController">
                                <div ng-if="user" uib-dropdown is-open="isOpen" class="btn-group">
                                    <button type="button" uib-dropdown-toggle class="btn btn-primary" id="user-dropdown">
                                        {{user.user.name}}
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                        <li role="menuitem"><a href="#/projects/{{user.scratchPadId}}">My Scratchpad</a></li>
                                        <li class="divider"></li>
                                        <li ng-click="logout(user)" role="menuitem">Logout</li>
                                    </ul>
                                </div>
                                <div ng-if="!user" uib-dropdown is-open="isOpen" >
                                    <button uib-dropdown-toggle type="button" class="btn btn-primary" id="login-drop-down">
                                        Not logged in
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                        <li role="menuitem">
                                            <a ng-click="showLoginWindow()" href="javascript:void(0)">Login</a>
                                        </li>
                                        <li role="menuitem">
                                            <a ng-click="showJoinWindow()" href="javascript:void(0)">Join</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li><a ng-href="#/projects">Projects</a></li>
                            <li><a ng-href="#/mag">Search</a></li>
                            <li><a ng-href="#/groups">Groups</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div ng-view></div>

        <div class="footer">
            <div class="container">
            </div>
        </div>


            <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
            <!--
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
   }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>
    -->

        <script src="@routes.Assets.at("javascripts/vendor.bundle.js")"></script>
        <script src="@routes.Assets.at("javascripts/main.entry.js")"></script>
    </body>
</html>
